flows/CalloutFlowEx-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>WeaterAppDemo</name>
        <label>WeaterAppDemo</label>
        <locationX>264</locationX>
        <locationY>200</locationY>
        <apexClass>WeatherApp</apexClass>
        <connector>
            <targetReference>OutPutScreen</targetReference>
        </connector>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TempDegree</assignToReference>
            <name>temperature</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FH</assignToReference>
            <name>faherneit</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DewF</assignToReference>
            <name>dewpoint_f</name>
        </outputParameters>
    </apexPluginCalls>
    <interviewLabel>CalloutFlowEx {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CalloutFlowEx</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>835</locationX>
        <locationY>103</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0037F000006QCC6</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Temp__c</field>
            <value>
                <elementReference>TempDegree</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>CallWebcalout</name>
        <label>CallWebcalout</label>
        <locationX>111</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WeaterAppDemo</targetReference>
        </connector>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>OutPutScreen</name>
        <label>OutPutScreen</label>
        <locationX>496</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>DisplayOutPut</name>
            <fieldText>{!DewF}  -----   {!FH} ----- -- {!TempDegree}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>CallWebcalout</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DewF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FH</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutPutCheck</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempDegree</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
