flows/harsh_testflow-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_record_to_collection</name>
        <label>assign record to collection</label>
        <locationX>1032</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>collectupdatedopp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobj_opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_value</name>
        <label>assign value</label>
        <locationX>1008</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>sobj_opp.CSAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>child_sobj.CSAT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_record_to_collection</targetReference>
        </connector>
    </assignments>
    <description>test</description>
    <interviewLabel>harsh_testflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>harsh_testflow</label>
    <loops>
        <name>loop_through_child</name>
        <label>loop through child</label>
        <locationX>734</locationX>
        <locationY>85</locationY>
        <assignNextValueToReference>child_sobj</assignNextValueToReference>
        <collectionReference>child_collecion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_opp</name>
        <label>loop through opp</label>
        <locationX>503</locationX>
        <locationY>81</locationY>
        <assignNextValueToReference>sobj_opp</assignNextValueToReference>
        <collectionReference>opp_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_through_child</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>child</name>
        <label>child</label>
        <locationX>104</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_to_opp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>satisfactionId</elementReference>
            </value>
        </filters>
        <object>Child_Opp__c</object>
        <outputReference>child_collecion</outputReference>
        <queriedFields>CSAT__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_to_opp</name>
        <label>lookup to opp</label>
        <locationX>299</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_opp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opp_collection</outputReference>
        <queriedFields>CSAT__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_opp</name>
        <label>update opp</label>
        <locationX>736</locationX>
        <locationY>342</locationY>
        <inputReference>collectupdatedopp</inputReference>
    </recordUpdates>
    <startElementReference>child</startElementReference>
    <variables>
        <name>child_collecion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Child_Opp__c</objectType>
    </variables>
    <variables>
        <name>child_sobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Child_Opp__c</objectType>
    </variables>
    <variables>
        <name>collectupdatedopp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opp_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opp_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>satisfactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sobj_opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
