flows/TestOwnerChange-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>TestOwnerChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestOwnerChange</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCaseOwnerAnd_Queue</name>
        <label>CreateCaseOwnerAnd Queue</label>
        <locationX>355</locationX>
        <locationY>250</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>SearchQueue</name>
        <label>SearchQueue</label>
        <locationX>483</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCaseOwnerAnd_Queue</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TestQueue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>VarGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOwnerCase</name>
        <label>UpdateOwnerCase</label>
        <locationX>695</locationX>
        <locationY>134</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Display</name>
        <label>Display</label>
        <locationX>636</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QueueId</name>
            <fieldText>---------&gt; Group::: -- {!VarGroupId}

-----&gt;   {!SearchQueue}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>First_Screen</name>
        <label>First Screen</label>
        <locationX>270</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SearchQueue</targetReference>
        </connector>
        <fields>
            <name>CaseId</name>
            <dataType>String</dataType>
            <fieldText>CaseId</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>First_Screen</startElementReference>
    <variables>
        <name>VarGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
