flows/Test2-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Test2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test2</label>
    <loops>
        <name>Loop_Through</name>
        <label>Loop Through</label>
        <locationX>799</locationX>
        <locationY>74</locationY>
        <assignNextValueToReference>SovFS</assignNextValueToReference>
        <collectionReference>sovcOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateChildRecord</name>
        <label>CreateChildRecord</label>
        <locationX>379</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>SearchOpp</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Opp_Record</elementReference>
            </value>
        </inputAssignments>
        <object>Child_Opp__c</object>
    </recordCreates>
    <recordLookups>
        <name>SearchOpp</name>
        <label>SearchOpp</label>
        <locationX>592</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_Record</elementReference>
            </value>
        </filters>
        <object>Child_Opp__c</object>
        <outputReference>sovcOpp</outputReference>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CSAT__c</queriedFields>
    </recordLookups>
    <screens>
        <name>OppRecord</name>
        <label>OppRecord</label>
        <locationX>139</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateChildRecord</targetReference>
        </connector>
        <fields>
            <name>Opp_Record</name>
            <dataType>String</dataType>
            <fieldText>Opp Record</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>OppRecord</startElementReference>
    <variables>
        <name>sovcOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Child_Opp__c</objectType>
    </variables>
    <variables>
        <name>SovFS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Child_Opp__c</objectType>
    </variables>
</Flow>
